﻿@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />    
</head>
<body>

    <div class="container" id="app">
        <div class="row">
            <input class="col-4 m-1" v-on:change="SendMessage('/USER ' + userName)" v-model="userName"/>
            <input class="col-6 m-1" placeholder="message" v-model="message" />
            <button class="col-1 m-1" v-on:click="SendMessage(message)">Send</button>
        </div>
        <div class="p-2 chat">
            <ul id="list">
                <li v-for="(msg, index) in chatRoomMessage" :key="index">
                    <span>{{msg}}</span>
                </li>
            </ul>
        </div>
    </div>

    <script src="~/lib/vue/vue.min.js" asp-append-version="true"></script>
    <script src="~/js/index2.js" asp-append-version="true"></script>
</body>
</html>

